<div class="aside-bar">
  <ul nz-menu [nzMode]="'inline'" [nzTheme]="'dark'" style="background-color: #1f2430">
    <li nz-submenu>
      <span title><i class="anticon anticon-mail"></i>功能</span>
      <ul>
        <li nz-menu-item><a routerLink="/upload">upload</a></li>
        <li nz-menu-item>Option 2</li>
      </ul>
    </li>
    <li nz-submenu>
      <span title><i class="anticon anticon-appstore"></i>文档</span>
      <ul>
        <li nz-menu-item>Option 3</li>
        <li nz-menu-item>Option 4</li>
      </ul>
    </li>
    <li nz-submenu>
      <span title><i class="anticon anticon-setting"></i>组件</span>
      <ul>
        <li nz-menu-item><a routerLink="/radio">radio</a></li>
        <li nz-menu-item><a routerLink="/checkbox">checkbox</a></li>
        <li nz-menu-item>Option 7</li>
      </ul>
    </li>
    <li nz-submenu>
      <span title><i class="anticon anticon-setting"></i>guide</span>
      <ul>
        <li nz-menu-item><a routerLink="/guide">guide</a></li>
      </ul>
    </li>
  </ul>
</div>
